body {
    background: linear-gradient(to right, rgb(64, 12, 222), rgb(170, 59, 207));
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;     
    min-height: 100vh;
}

div {
    width: 520px;
    height: 470px;
    max-width: 390px;
    max-height: 510px;
    border-radius: 20px;
    padding: 10px;
    border-radius: 20px;
    padding: 20px 30px;
    border-radius: 20px;
    background: linear-gradient(to right, #433195, #533bcf, #475ce298);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
h2 {
    text-align: center;
    color: white;
    padding-bottom: 5px;
}

label {
    display: block;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    padding: auto;
}

input {
    display: block;
    width: 90%;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255,255,255,0.6);
}

button {
    display: block;
    width: 90%;
    margin: 20px auto 10px 10px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(68, 9, 187);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: rgb(60, 20, 200);
    transform: scale(1.02);
}

a {
    margin-left: 5px;
    color: aqua;
    text-decoration: none;
    font-size: 18px;
}
p{
    color: white;
    margin-top: 0px;
    margin-left: 20px;
    font-size: 18px;
    display: flex;
    float: left;
    padding-bottom: 10px;
}
@media (max-width: 600px) {
    a {
        font-size: 1.5rem;
        padding: 15px 25px;
    }
}
